<div class="body">
<h1>SpaceX Launch Programs</h1>
  <div class=mainContainer>
    <div class="page">
      <div class="filters">
        <p style="text-align: left;font-size: 1.5rem;font-weight: 700;">Filters</p>
        
        <p class="headings">Launch Year</p>
        <hr/>
        <div class="yearContainer">
          <div [ngClass] = "{'activeYear':filterObj.year==year,'year':filterObj.year!=year}" *ngFor="let year of years"  (click)="onSelectFilter(year,'year')" #year>
            {{year}}
          </div>
        </div>
          

        <div class="headings">Successful Launch</div>
        <hr/>
        <div class="yearContainer">
          <div [ngClass] = "{'activeYear':filterObj.launch=='true','year':filterObj.launch!='true'}" (click)="onSelectFilter(true,'launch')">True</div>
          <div [ngClass] = "{'activeYear':filterObj.launch=='false','year':filterObj.launch!='false'}" (click)="onSelectFilter(false,'launch')">False</div>
        </div>

        <p class="headings">Successful Landing</p>
        <hr/>
        <div class="yearContainer">
          <div [ngClass] = "{'activeYear':filterObj.land=='true','year':filterObj.land!='true'}" (click)="onSelectFilter(true,'land')">True</div>
          <div [ngClass] = "{'activeYear':filterObj.land=='false','year':filterObj.land!='false'}" (click)="onSelectFilter(false,'land')">False</div>
        </div>
        


      </div>
      <div class="content">
        <div *ngFor="let prog of programs" class="program">
          <img class="img-mission" [src]="prog.links.mission_patch_small" alt="SpaceX">
          <p id="mission_name">{{prog.mission_name}} #{{prog.flight_number}}</p>
          <p>Mission Ids:</p>
          <ul style="color: #00008b" *ngIf="prog.mission_id.length > 0">
            <li *ngFor="let mission of prog.mission_id">
              {{ mission }}
            </li>
          </ul>
          <p>Launch year: {{prog.launch_year}}</p>
          <p>Successful Launch: {{prog.launch_success}}</p>
          <p>Successful Landing: {{ prog.rocket.first_stage.cores[0].land_success?'true':'NA' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>




